[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "libfprint"]
	path = libfprint
	url = https://github.com/eiguike/libfprint.git
[submodule "library/libfprint"]
	path = library/libfprint
	url = https://github.com/eiguike/libfprint.git
[submodule "library/libwebsockets"]
	path = library/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "library/cJSON"]
	path = library/cJSON
	url = https://github.com/DaveGamble/cJSON.git
